body,
html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #000000, #000219);
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.back-button {
  background-color: transparent;
  color: white;
  font: inherit;
  z-index: 10;
  position: absolute;
  padding-left: 4rem !important;
  padding-top: 14rem;
  font-size: 20px;
  border-style: none;
}

.back-button:hover {
  color: grey;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav a:hover {
  color: grey;
}

.title-container {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.about-content {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 10px;
}

.content-container {
  background-color: #333333; /* Updated grey background */
  padding: 2rem;
  border-radius: 10px;
}

.bio-image {
  display: block;
  max-width: 90%;
  height: auto;
  border-radius: 5%; /* Make the image circular */
  margin: 0 auto 2rem;
  border: 0px solid #000000; /* Light green border */
  box-shadow: 8px 8px 5px #1d1f1d9a;
}

.introduction,
.skills,
.interests,
.experience,
.education,
.contact {
  margin-bottom: 2rem;
}

h1,
h2 {
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  line-height: 1.6;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .links-container {
    margin-top: 0rem;
    margin-left: -1rem;
  }

  .title-container {
    margin-top: 1rem;
  }
}

.timeline-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 0;
  
}

.timeline-item {
  padding: 10px 40px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 8px 8px 5px #1d1f1d9a;
}

.timeline-item::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #00ff00;
  left: 30px;
  top: 0;
  border-radius: 6px;
}

.timeline-content {
  margin-left: 70px;
}

.timeline-content h3 {
  margin: 0;
  font-size: 1.2rem;
}

.timeline-content p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}

.copy-button {
  padding: 0.5rem 1rem;
  background-color: #00ff00;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #00cc00;
}
