body,
html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.back-button {
  background-color: transparent;
  color: white;
  font: inherit;
  z-index: 10;
  position: absolute;
  padding-left: 4rem !important;
  padding-top: 14rem;
  font-size: 20px;
  border-style: none;
}

.back-button:hover {
  color: grey;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav a:hover {
  color: grey;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .links-container {
    margin-top: 0rem;
    margin-left: -2rem;
  }

  .title-container {
    margin-top: 1rem;
  }
}

.title-container {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.blog-content {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #333333; /* Updated grey background */
  border-radius: 10px;
}

h1,
h2 {
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  line-height: 1.6;
}

.post-preview {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 8px 8px 5px #1d1f1d9a;
}

.post-preview:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.post-content {
  display: none;
}

button {
  padding: 0.5rem 1rem;
  background-color: #00ff00;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

