* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.webgl{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* Common styles for navigation */
nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  font-style: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Styles for mobile-sized screens */
@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column; /* Arrange elements vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text within the container */
  }

  .links-container {
    margin-top: 1rem; /* Add space between title and links */
  }
}


nav a:hover {
  color: grey; /* Change the color to grey when hovered */
}
